<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <logger name="org.greencheek.jms.yankeedo.scenarioexecution.producer.ProducerExecutor" level="${yankeedo.log.level:-ERROR}" aditivity="false"/>
    <logger name="org.greencheek.jms.yankeedo.scenarioexecution.consumer" level="${yankeedo.log.level:-ERROR}" aditivity="false"/>
    <logger name="org.greencheek.jms.yankeedo.scenarioexecution" level="${yankeedo.log.level:-ERROR}" aditivity="false"/>



    <root level="${yankeedo.log.level:-ERROR}" aditivity="false">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>